<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
        {% endblock %}
        <style>
            .alert{
                padding: 10px;
                text-align:center;

            }
            html body{
               font-family: quincy-cf, serif;
                font-style: normal;
                font-weight: 800;
        

            }

            .vich-image .form-check {
                margin-top: 20px;
            }

            .pin img{

                transition: transform 0.3s ease-out;
                &:hover{
                    transform:scale(1.075)
                }



            }
        
        
        
        </style>
    </head>
    <body>
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{type}}" role="alert">
                    {{message}}

                </div>
            {% endfor %}
        {% endfor %} 
        
        {% include "partials/_navbar.html.twig" %}
        <main role="main" class="container">
              {% block body %}{% endblock %}
        </main>
      
         {% include "partials/_footer.html.twig" %}
    </body>
</html>
